rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function emailVerified() {
    	return request.auth != null && request.auth.token.email_verified;
    }
    function isUser() { // doesn't work
    	return request.auth.uid in get(/databases/{database}/documents/app/info).data.uids;
    }
    
    match /log/{document=**} {
      allow read: if emailVerified() && true; // isUser()
      allow write: if emailVerified();
    }
    match /log/{month}/doorbell/{document=**} {
      allow write: if emailVerified(); // add throttling
    }
    
    match /app/info/{collection=**} {
    	allow read;
      allow write: if emailVerified() && isUser();
    }
    
    match /app/private/{collection=**} {
    	allow read, write: if emailVerified() && isUser();
    }
  }
}