.App {
  height: 100%;
  text-align: center;
  min-width: 350px;
}
.App .btn {
  border-radius: 10px;
}
.message {
  margin-left: 5px;
}

@media (max-width: 450px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  .App {
    font-size: 0.9em;
  }
}
