.user .log {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}
.user .log h2 {
  display: block;
  float: left;
}
.user .log-button {
  margin: 0;
  float: right;
  border-radius: 5px !important;
}
.user .log .table {
  margin: 0;
}
.user .log .header-text {
  text-decoration: none;
  color: #495057;
}
.user .log .header-text:hover {
  color: black;
  cursor: pointer;
}
.user .log .header img {
  vertical-align: baseline;
}
.user .log .individual-email {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
