.notes {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}
.notes h2 {
  display: block;
  float: left;
}
.notes p {
  margin-bottom: 0;
}
.notes .table {
  margin: 0;
}
.notes td {
  text-align: left;
}
.notes .add-note {
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.notes .add-note:hover {
  background-color: rgb(233, 233, 233);
}
.notes .add-note img {
  vertical-align: text-top;
}
.notes .add-note-btn {
  margin-left: 10px;
}
