.guest .wifi {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}
.guest .wifi-info {
  display: grid;
  place-items: center;
}
.guest .wifi-info h3 {
  font-size: 1.5em;
  text-align: left;
  word-break: break-word;
}
